
#image{
    border-style: solid;
    margin-top: 10px;
}
#major{
    margin-top: -10px;
}
body{
    
    background: linear-gradient(to top, rgba(186, 242, 187,1)100%,rgb(186, 242, 200,1)0%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 0px;
    height: 100%;
    flex-direction: row;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bio,.profile{
    
    align-items: center;
    margin:15px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    max-width: 50%;
}
  .social-links {
    list-style: none;
    padding-left: 0px;
    font-size: 18px;
  }

  social-links a {
    text-decoration: none;
    padding: 4px;
    }

.social-links a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}